<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/dashboard.css">
</head>
<body>
    <div class="dashboard">
        <div class="dashboard-left">
            <h3 href="#home">Accueil</h3>
            <a href="#clinical-trials">
                <span class="clt"></span>
                <span class="clt-text">Essais cliniques</span>
            </a>
            <a href="#publications">
                <span class="iconpub"></span>
                <span class="pub-text">Publications</span>
            </a>
            <a href="#about">
                <span class="iconabout"></span>
                <span class="about-text">A propos</span>
            </a>
        </div>
        <div class="dashboard-content">
            <!-- Barre d'infos -->

            <!-- Contenu de la page ici -->
        </div>
    </div>
</body>
</html>