<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/dashboard.css">
</head>
<body>
    <div class="dashboard">
        <div class="dashboard-left">
            <h3 href="#home">Home</h3>
            <a href="#clinical-trials">Clinical Trials</a>
            <a href="#publications">Publications</a>
            <a href="#about">About</a>
        </div>
        <div class="dashboard-content">
            <!-- Barre d'infos -->

            <!-- Contenu de la page ici -->
        </div>
    </div>
</body>
</html>